# macOS
.DS_Store

# R
.Rhistory
.RData
.Rproj.user/

# Conda
.env
.envs/

# Temporary files
*.log
*.tmp
*.swp

# IGV session files (optional)
*.xml

# Bash script files (to prevent large files accidentally entering the repo)
*.bam
*.bai
*.vcf
*.vcf.gz
*.fastq
*.fastq.gz
*.sam
*.tar.gz